<ul class="nav justify-content-center  ">
    <li class="nav-item">
        <a class="nav-link active btn btn-primary" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/user/regis">Register</a>
    </li>
</ul>