.about-section#about
  h1 About Us Page
  p Some text about who we are and what we do.
  p Resize the browser window to see that this page is responsive by the way.
  h2(style='text-align:center') Our Team
  .row
    .column
      .card
        img(src='/static/img/farman.jpg' alt='Jane' style='width:100%')
        .container
          h2 Farman haider
          p.title CEO &amp; Founder
          p Some text that describes me lorem ipsum ipsum lorem.
          p jane@example.com
          p
            button.button Contact
    .column
      .card
        img(src='/static/img/mika.jpg' alt='Mike' style='width:100%')
        .container
          h2 Mike Ross
          p.title Art Director
          p Some text that describes me lorem ipsum ipsum lorem.
          p mike@example.com
          p
            button.button Contact
    .column
      .card
        img(src='/static/img/sumit.jpg' alt='Mike' style='width:100%')
        .container
          h2 Mike Ross
          p.title Art Director
          p Some text that describes me lorem ipsum ipsum lorem.
          p mike@example.com
          p
            button.button Contact
