section#clients.section-bg
  .container
    .section-header
      h3 Our Sponsors
    .row.no-gutters.clients-wrap.clearfix.wow.fadeInUp(style='visibility: visible; animation-name: fadeInUp;')
      .col-lg-3.col-md-4.col-xs-6.container
        .client-logo
          img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460149/abof.png' alt='')
      .col-lg-3.col-md-4.col-xs-6.container
        .client-logo
          img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png' alt='')
      .col-lg-3.col-md-4.col-xs-6.container
        .client-logo
          img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460269/104840a62d46c05d285762857fecb61a.png' alt='')
      .col-lg-3.col-md-4.col-xs-6.container
        .client-logo
          img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460358/client-4.png' alt='')
      .col-lg-3.col-md-4.col-xs-6.container
        .client-logo
          img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png' alt='')
      .col-lg-3.col-md-4.col-xs-6.container
        .client-logo
          img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png' alt='')
      .col-lg-3.col-md-4.col-xs-4.container
          .client-logo
            img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460418/client-7.png' alt='')
      .col-lg-3.col-md-4.col-xs-4.container
          .client-logo
            img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png' alt='')
      .col-lg-3.col-md-4.col-xs-4.container
          .client-logo
            img.img-fluid(src='https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png' alt='')